body a {
    text-decoration: none !important;
}

.hm-about-bg {
    background-color: #ffffff;
}

.hm-pl-18 {
    padding-left: 18px;
}

.hm-side-form > input[type="text"] {
    max-width: 114px;
}

.cb-text-center {
    text-align: center;
}

.cb-margin-auto {
    margin: auto;
}

.cb-pad5 {
    padding: 5px;
}

.cb-mtop-0 {
    margin-top: 0;
}

.cb-btn {
    border-radius: 19px;
    padding-left: 10px;
    padding-right: 10px;
}

.cb-match-span {
    color: dodgerblue;
    padding: 12px;
}

.ja-content {
    max-height: 500px;
    width: 80%;
    display: block;
    position: relative;
    overflow: auto;
}

.ja-topic-hero p {
    margin-top: 0;
}

.ja-topic-hero h2 {

}

/* AngularJS Material dynamic tabs */
.jaDynamicTabs md-content h1:first-child {
    margin-top: 0;
}

.jaDynamicTabs md-content md-tabs .demo-tab {
    padding: 25px;
    text-align: center;
}

.jaDynamicTabs md-content md-tabs .demo-tab > div > div {
    padding: 25px;
    box-sizing: border-box;
}

.jaDynamicTabs md-content md-tabs md-tab[disabled] {
    opacity: 0.5;
}

.jaDynamicTabs md-content form {
    padding-top: 0;
}

.jaDynamicTabs md-content form div[flex] {
    position: relative;
}

.jaDynamicTabs md-content form div[flex] h2.md-subhead {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
}

.jaDynamicTabs md-content form md-button.add-tab {
    margin-right: 0;
    transform: translateY(5px);
}

.jaDynamicTabs md-content form md-input-container {
    padding-bottom: 0;
}

/* grid style rules */
.ja-grid md-grid-list {
    margin: 8px;
}

.ja-grid .blue {
    background: #3F51B5;
}

.ja-wh100p {
    width: 100%;
    height: 100%;
}

.ja-wh100p:hover {
    background-color: #444444;
}

.ja-m0 {
    margin: 0;
}

a.ja-land-md-fab {
    width: 72px !important;
    height: 72px !important;
    padding-top: 10px;
    margin-bottom: 38px;
}





















/* end of css file */